/*========= Custom Fonts =========*/

@font-face {
    font-family: 'mywebfont';
    src: url('fonts/gobold_thin.eot?') format('eot'),
         url('fonts/gobold_thin.woff') format('woff'),
         url('fonts/gobold_thin.ttf') format('truetype'),
         url('fonts/gobold_thin.svg#gobold_thin') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*========= Boostrap Overwrite =========*/

html, body {
	min-height:100%;
}

h2 {
	text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.3);
	font-family: 'mywebfont';
	font-size: 34px;
}

h3{
	font-family: 'mywebfont';
	margin-top: 30px;
	margin-bottom: 15px;
}

h3, h4 {
	color: #3d4d4a;
	text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.3);
}

h4 {
	font-family: 'mywebfont';
	margin-bottom: 10px;
}

.home {
    /* Ensure the html element always takes up the full height of the browser window */
    min-height: 100%;
	background: url('../images/login_bg.jpg') no-repeat center center;
    background-size: cover;
}

.removeFromDisplay {
	display: none;
}

.leaderboard {
	margin-top: 40px;
	margin-bottom: 40px;
}

.errorMsg {
	color: #A94341;
	margin-top: 10px;
	margin-bottom: 20px;
}

.container button {
	font-size: 16px;
	border: none;
	height: 40px;
	font-weight: bold;
	background: #3b5998;
	background: -moz-linear-gradient(top,  #3b5998 0%, #4d68a2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3b5998), color-stop(100%,#4d68a2));
	background: -webkit-linear-gradient(top,  #3b5998 0%,#4d68a2 100%);
	background: -o-linear-gradient(top,  #3b5998 0%,#4d68a2 100%);
	background: -ms-linear-gradient(top,  #3b5998 0%,#4d68a2 100%);
	background: linear-gradient(to bottom,  #3b5998 0%,#4d68a2 100%);
	-webkit-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
	-moz-box-shadow:    0 1px 2px rgba(255, 255, 255, 0.3);
	box-shadow:         0 1px 2px rgba(255, 255, 255, 0.3);
}

.container select {
	margin-bottom: 20px;
}

.container input {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	border: none;
	height: 40px;
  	font-size: 16px;
  	background-color: #e6f0f2;
  	background-color: rgba(235, 240, 245, 0.9);
}


/*===== header =====*/

header {
	height: 70px;
	overflow: hidden;
	padding: 10px 0;
	/*background: rgba(202, 189, 163, 0.8);*/
	/*margin-bottom: 30px;*/
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	background: -moz-linear-gradient(top,  rgba(202,189,163,0.8) 0%, rgba(183,171,148,0.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(202,189,163,0.8)), color-stop(100%,rgba(183,171,148,0.8)));
	background: -webkit-linear-gradient(top,  rgba(202,189,163,0.8) 0%,rgba(183,171,148,0.8) 100%);
	background: -o-linear-gradient(top,  rgba(202,189,163,0.8) 0%,rgba(183,171,148,0.8) 100%);
	background: -ms-linear-gradient(top,  rgba(202,189,163,0.8) 0%,rgba(183,171,148,0.8) 100%);
	background: linear-gradient(to bottom,  rgba(202,189,163,0.8) 0%,rgba(183,171,148,0.8) 100%);
}

#brand_logo {
	/*max-width: 100%;*/
	height: 50px;
}

#mobile_dropdown,
#close_dropdown {
	position: absolute;
	top: 25px;
	right: 25px;
}

.fa-bars {
	font-size: 24px;
	color: rgba(0,0,0,0.5);
	text-shadow: 0px 1px 2px rgba(255, 255, 255, 0.4);
}

.fa-bars:hover {
	color: rgba(0,0,0,0.7);
	cursor: pointer;
}

#navigation{
	/*position: absolute;
	top: 71px;
	width: 100%;*/
	overflow: hidden;
}

.nav {
	overflow: hidden;
	/*position: absolute;
	top: 71px;
	width: 100%;*/
	margin-bottom: 30px;
	background: rgba(255, 255, 255, 0.6);
}

.nav li {
	width: 100%;
	float: left;
	display: block;
	background: rgba(255, 255, 255, 0.6);
	background: -moz-linear-gradient(top,  rgba(232,240,242,0.8) 0%, rgba(218,232,234,0.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,240,242,0.8)), color-stop(100%,rgba(218,232,234,0.8)));
	background: -webkit-linear-gradient(top,  rgba(232,240,242,0.8) 0%,rgba(218,232,234,0.8) 100%);
	background: -o-linear-gradient(top,  rgba(232,240,242,0.8) 0%,rgba(218,232,234,0.8) 100%);
	background: -ms-linear-gradient(top,  rgba(232,240,242,0.8) 0%,rgba(218,232,234,0.8) 100%);
	background: linear-gradient(to bottom,  rgba(232,240,242,0.8) 0%,rgba(218,232,234,0.8) 100%);
}


/*===== Login =====*/

#login {
	overflow: hidden;
	margin-bottom: 30px;
	margin-top: 30px;
}

#login button {
	width: 100%;
}


/*===== Security =====*/

#secure {
	width: 100%;
	margin-top: 30px;
}

#secure form {
	overflow: hidden;
	margin: 0 auto;
}


/*===== Submit =====*/

#submitForm {
	margin-bottom: 30px;
	margin-top: 20px;
}

#fighting_photo {
	background: none;
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
	line-height: 0;
}

#submitForm select {
	margin-bottom: 0;
}

.form-group {
	margin-bottom: 30px;
	overflow: hidden;
}

.form-group:nth-child(1){
	margin-bottom: 0;
}

input[id="girth"]{
	margin-bottom: 0;
}

#preview_img {
	max-width: 300px;
}

#submitForm button {
	width: 100%;
}


/*===== Leaderboards =====*/

.table-responsive {
	margin-top: 30px;
	border-color: rgba(255, 255, 255, 0.4);
	border-bottom: none;
}

table {
	background-color: rgba(255, 255, 255, 0.4);
}

caption {
	background: -moz-linear-gradient(top,  rgba(163,195,201,0.8) 0%, rgba(146,175,181,0.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(163,195,201,0.8)), color-stop(100%,rgba(146,175,181,0.8)));
	background: -webkit-linear-gradient(top,  rgba(163,195,201,0.8) 0%,rgba(146,175,181,0.8) 100%);
	background: -o-linear-gradient(top,  rgba(163,195,201,0.8) 0%,rgba(146,175,181,0.8) 100%);
	background: -ms-linear-gradient(top,  rgba(163,195,201,0.8) 0%,rgba(146,175,181,0.8) 100%);
	background: linear-gradient(to bottom,  rgba(163,195,201,0.8) 0%,rgba(146,175,181,0.8) 100%);
}

caption h3 {
	margin: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}

tr:nth-child(1){
	background: -moz-linear-gradient(top,  rgba(182,208,211,0.8) 0%, rgba(169,197,204,0.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(182,208,211,0.8)), color-stop(100%,rgba(169,197,204,0.8)));
	background: -webkit-linear-gradient(top,  rgba(182,208,211,0.8) 0%,rgba(169,197,204,0.8) 100%);
	background: -o-linear-gradient(top,  rgba(182,208,211,0.8) 0%,rgba(169,197,204,0.8) 100%);
	background: -ms-linear-gradient(top,  rgba(182,208,211,0.8) 0%,rgba(169,197,204,0.8) 100%);
	background: linear-gradient(to bottom,  rgba(182,208,211,0.8) 0%,rgba(169,197,204,0.8) 100%);
	text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3);
}

tr{
	background: -moz-linear-gradient(top,  rgba(213,233,237,0.8) 0%, rgba(199,216,219,0.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(213,233,237,0.8)), color-stop(100%,rgba(199,216,219,0.8)));
	background: -webkit-linear-gradient(top,  rgba(213,233,237,0.8) 0%,rgba(199,216,219,0.8) 100%);
	background: -o-linear-gradient(top,  rgba(213,233,237,0.8) 0%,rgba(199,216,219,0.8) 100%);
	background: -ms-linear-gradient(top,  rgba(213,233,237,0.8) 0%,rgba(199,216,219,0.8) 100%);
	background: linear-gradient(to bottom,  rgba(213,233,237,0.8) 0%,rgba(199,216,219,0.8) 100%);
}

#leaderboards td {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	padding: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.025);
}

#leaderboards td:nth-child(2n+2),
#leaderboards td:nth-child(2n+3) {
	padding-left: 5px;
}


#leaderboards th {
	border-top: none;
	/*border-color: lime;*/
	padding-top: 10px;
	padding-bottom: 10px;
}

#leaderboards th:nth-child(1){
	padding-left: 10px;
}


/*===== Footer =====*/

footer {
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	height: 40px;
	line-height: 40px;
	/*position: absolute;*/
	margin-top: 30px;
	bottom: 0;
	width: 100%;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
	background: -moz-linear-gradient(top,  rgba(123,148,153,0.8) 0%, rgba(102,121,124,0.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(123,148,153,0.8)), color-stop(100%,rgba(102,121,124,0.8)));
	background: -webkit-linear-gradient(top,  rgba(123,148,153,0.8) 0%,rgba(102,121,124,0.8) 100%);
	background: -o-linear-gradient(top,  rgba(123,148,153,0.8) 0%,rgba(102,121,124,0.8) 100%);
	background: -ms-linear-gradient(top,  rgba(123,148,153,0.8) 0%,rgba(102,121,124,0.8) 100%);
	background: linear-gradient(to bottom,  rgba(123,148,153,0.8) 0%,rgba(102,121,124,0.8) 100%);
}


/*===== Placeholder Text =====*/

::-webkit-input-placeholder {
   color: rgba(0, 0, 0, 0.3);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(0, 0, 0, 0.3);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(0, 0, 0, 0.3);  
}

:-ms-input-placeholder {  
   color: rgba(0, 0, 0, 0.3);  
}