/*---------- Reset ----------*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, cite, code,
del, dfn, em, img, ins, samp,
small, strike, strong, sub, sup, tt, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, section, summary, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width: 100%;
}

a:hover, 
button:hover {
	cursor: pointer;
}

html, body {
	height: 100%;
	min-height:100%;
}

/*---------- Link Reset ----------*/

a:link,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

a:link,
a:visited {
	border-bottom-color: #BCBD93;
	color: #BCBD93;
}

a:hover {
	border-bottom-color: #7fadcc;
	color: #7fadcc;
}

/*---------- Basic Elements ----------*/

body {
	font: 62.5%/1.5 'Roboto Condensed', sans-serif;
	-webkit-text-size-adjust: none; /* Prevents the browser from changing the font size */
	background: url('../images/sandpaper.jpg');
	color: #999;
}

body[class=" hasGoogleVoiceExt"]{
	position: relative;
	z-index: -10;
}

a [href="index.html"] {
	border: none;
}

h1 {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../images/logo.png') no-repeat;
	width: 157px;
	height: 50px;
	position: absolute;
	top: 5px;
}

h2 {
	font-size: 1.8em; /* 35px / 14px */
	font-family: 'Tauri', sans-serif;
	/*text-shadow: 0 1px 2px #4d4b42;*/
	/*-moz-text-shadow: 0 1px 2px #4d4b42;*/
	color: #999;
	margin-bottom: 5px;
}

h3 {
	font-size: 2em; /* 18px / 14px */
	margin-bottom: 10px;
	color: #A6C2C5;
	/*text-shadow: 0 1px 1px #0b0c0d;*/
	/*-moz-text-shadow: 0 1px 1px #0b0c0d;*/
}

p {
	margin-bottom: 12px;
}

/*---------- Wrappers ----------*/

.wrapper {
	max-width: 940px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 10px;
}


/*---------- Background Images ----------*/

#fullscreen-cont {
    display: block;
    position: relative;
    z-index: -10;
    min-width: 100%;
    min-height: 100%;
    margin-bottom: 2px;
}

#fullscreen-img {
    display: block;
    position: absolute;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
}

/*== Login Page ==*/
.img-login {
	background: transparent url('../images/login_bg.jpg') center center no-repeat;
}

/*== Login Page ==*/
.img-submit {
	background: transparent url('../images/submit_bg.jpg') center center no-repeat;
}


/*---------- Main Content ----------*/

#main_content {
	font-size: 1.4em; /* 14px / 10px */
}

#main_content .wrapper {
	padding-top: 30px;
	padding-bottom: 40px;
}

section, {
	float: left;
	margin-right: 40px;
	width: 600px;
	margin-top: 0;
}

aside {
	max-width: 300px;
	float: right;
	min-height: 500px;
}

aside h2 {
	font-size: 1.8em;
	margin-bottom: 15px;
}

section h2 {
	margin-bottom: 15px;
}

section p {
	font-size: 1.28571428571em; /* 18px / 14px */
}


/*---------- Login ----------*/

#login {
	width: 400px;
	margin: 0 auto;
	-moz-box-shadow:    0 1px 3px #2d3233;
  	-webkit-box-shadow: 0 1px 3px #2d3233;
  	box-shadow:         0 1px 3px #2d3233;
  	background: url('../images/sandpaper.jpg');
  	color: rgba(255, 255, 255, 0.8);
  	border-radius: 20px;
  	padding: 10px;
}

#login h2 {
	margin: 0;
	color: rgba(255, 255, 255, 1);
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
	-moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}

#login a {
	border: none;
}

#login ul {
	border-radius: 20px;
	overflow: hidden;
	padding: 10px 20px 20px;
}

#login li {
	display: block;
	float: left;
	margin-bottom: 15px;
}

#fb_login {
	background: #5973A8;
	color: #fff;
	padding: 10px;
	display: block;
}

#fb_login:hover {
	cursor: pointer;
	background: #798EBD;
}


/*---------- Footer ----------*/

footer {
	padding: 20px 0;
	text-align: center;
	font-size: 1.4em; /* 14px / 10px */
	line-height: 0;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	-moz-text-shadow: 0 1px 1px rgba(0, 0, 0, 0.6);
	width: 100%;
	position: absolute;
	bottom: 0;
}

footer p {
	margin: 0;
}




