<!DOCTYPE html>
<html lang="en" data-ng-app="btcApp">
<head>
	<!-- Mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	
	<title>Blacktip Challenge Submissions</title>
	<meta charset="utf-8"/>
	<meta name="description" content="Submission app for the Blacktip Challenge" />
	<meta name="keywords" content="blacktip, challenge, submit" />

	<!-- Google Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC' rel='stylesheet' type='text/css'>

	<!-- CSS -->
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="css/main.css" />
</head>

<body class="home">
	<header>
		<div class="row text-center">
			<img id="brand_logo" src="images/logo.png" alt="Blacktip Challenge" />
		</div>

		<div id="mobile_dropdown" ng-click="dropdown = !dropdown"><i class="fa fa-bars"></i></div>
	</header>

	<div id="navigation" ng-show="dropdown">
		<ul class="nav nav-stacked">
			<li><a href="#/submit" ng-click="dropdown = false">Submissions</a></li>
			<li><a href="#/leaderboards" ng-click="dropdown = false">Leaderboards</a></li>
			<li ng-click="auth.$logout(); dropdown = false;" id="fb_logout"><a href="#">Log Out</a></li>
		</ul>
	</div>

	<div class="container" ng-controller="CoreCtrl">
		
		<!-- Views load through here... -->
		<div ng-view=""></div>

	</div>

</body>

<!-- ============== Javascript ============== -->

<!-- Angular -->
<script src="js/angular.min.js"></script>
<script src="js/angular-route.js"></script>

<!-- Firebase -->
<script src="https://cdn.firebase.com/v0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/0.5.0/angularfire.js"></script>
<script src="https://cdn.firebase.com/v0/firebase-simple-login.js"></script>

<!-- Controllers -->
<script src="controllers/route.js"></script>
<script src="controllers/CoreCtrl.js"></script>
<script src="controllers/login.controller.js"></script>
<script src="controllers/submission.controller.js"></script>
<script src="controllers/leaderboard.controller.js"></script>

<!-- Upload -->
<script src="js/upload.js"></script>

</html>