<div class="container">
	<h1>Login Page</h1>

	<form role="form">
		<div class="form-group">
			<label for="exampleInputEmail1">Email address</label>
			<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
		</div>

		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
		</div>

		<button type="submit" class="btn btn-primary">Login</button>
	</form>

	<h3>Leaderboard</h3>
	<div ng-controller="leaderboard">
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Species</th>
				<th>Overall Length</th>
				<th>Fork Length</th>
				<th>Girth (blacktips only)</th>
				<th>Estimated Weight</th>
			</tr>
			<tr data-ng-repeat="anglerList in anglers | orderBy:forkLength">
				<td>{{ anglerList.name }}</td>
				<td>{{ anglerList.species }}</td>
				<td>{{ anglerList.overallLength }}</td>
				<td>{{ anglerList.forkLength }}</td>
				<td>{{ anglerList.girth }}</td>
				<td>{{ anglerList.weight }}</td>
			</tr>
		</table>
	</div>
</div>