<!DOCTYPE html>
<html lang="en" data-ng-app="btcApp">
	<head>
		<!-- Mobile -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		<!-- Change URL -->
		<!-- <meta http-equiv="refresh" content="2;URL=../index.html"> -->
		
		<title></title>
		<meta charset="utf-8"/>
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		<!-- CSS -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
	</head>
	
	<body>
		<header>
		</header>

		<div class="container">
			<h1>Login Success</h1>

			<h3>Leaderboard</h3>
			<div ng-controller="leaderboard">
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Species</th>
						<th>Overall Length</th>
						<th>Fork Length</th>
						<th>Girth (blacktips only)</th>
						<th>Estimated Weight</th>
					</tr>
					<tr data-ng-repeat="anglerList in anglers | orderBy:name">
						<td>{{ anglerList.name }}</td>
						<td>{{ anglerList.species }}</td>
						<td>{{ anglerList.overallLength }}</td>
						<td>{{ anglerList.forkLength }}</td>
						<td>{{ anglerList.girth }}</td>
						<td>{{ anglerList.weight }}</td>
					</tr>
				</table>
			</div>
		</div>

		<footer>
		</footer>

		<script src="../js/angular.min.js"></script>
		<script src="../js/angular-route.js"></script>
		<script src="../js/leaderboard.controller.js"></script>
	</body>
</html>