<br />
<a href="#/submit">Submit another Entry</a>

<h3>Largest Shark</h3>
<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th>Position</th>
			<th>Name</th>
			<th>Species</th>
			<th>Fork Length</th>
			<th>Overall Length</th>
		</tr>
		<tr data-ng-repeat="anglerList in anglers | toArray | orderBy:orderByLength">
			<td>{{ $index+1 }}.</td>
			<td>{{ anglerList.name }}</td>
			<td>{{ anglerList.species }}</td>
			<td>{{ anglerList.forkLength }}</td>
			<td>{{ anglerList.overallLength }}</td>
		</tr>
	</table>
</div>

<div class="leaderboard" ng-controller="blacktipLeaderBoard">
	<h3>Largest Blacktip</h3>
	<div class="table-responsive">
		<table class="table table-condensed table-striped">
			<tr>
				<th>Position</th>
				<th>Name</th>
				<th>Overall Length</th>
				<th>Fork Length</th>
				<th>Girth</th>
				<th>Estimated Weight</th>
			</tr>
			<input class="removeFromDisplay" type="text" ng-model="search.species" value="blacktip" name="blacktip" />
			<tr data-ng-repeat="anglerList in anglers | toArray | filter:search | orderBy:orderByWeight">
				<td>{{ $index+1 }}.</td>
				<td>{{ anglerList.name }}</td>
				<td>{{ anglerList.overallLength }}</td>
				<td>{{ anglerList.forkLength }}</td>
				<td>{{ anglerList.girth }}</td>
				<td>{{ anglerList.weight }}</td>
			</tr>
		</table>
	</div>
</div>

<div class="leaderboard" ng-controller="mostSharks">
	<h3>Most Sharks Caught</h3>
	<div class="table-responsive">
		<table class="table table-condensed table-striped">
			<tr>
				<th>Position</th>
				<th>Team Name</th>
				<th>Sharks Caught</th>
			</tr>
			<tr data-ng-repeat="anglerList in anglers">
				<td>{{ $index+1 }}.</td>
				<td>{{ anglerList.team }}</td>
				<td>{{ 5 }}</td>
			</tr>
		</table>
	</div>
</div>