<h1>Login Page</h1>

<div class="panel panel-primary">

	<div class="panel-heading">
		<h3>Login</h3>
	</div>

	<div class="panel-body">
		<form>
			<label>Security Code</label>
			<input ng-model="keyValue" id="security" type="text" />
			<button id="securityBtn" class="btn btn-primary" ng-click="checkKeys()">Check Code</button>
		</form>
	</div>
	
	<div class="panel-body">
		<p>Please login using Facebook</p>
		<button class="btn btn-primary" ng-disabled="secure" ng-click="auth.$login('facebook')">Login with Facebook</button>
	</div>
</div>

<h3>Submissions</h3>
<a href="#/submit">Submit an Entry</a>
