
<h2>Submissions</h2>

<form id="submitForm" action="http://localhost:8888/MDD/app/php/upload.php" method="post" enctype="multipart/form-data" name="entryForm" data-ng-submit="addEntry(entryForm)" novalidate>

	<div class="form-group">
		<input type="text" name="anglerName" class="form-control" data-ng-model="newEntry.name" placeholder="Angler Name" max-length="50" required />

		<div class="errorMsg" ng-show="entryForm.anglerName.$error.required && entryForm.anglerName.$dirty">*Required</div>
	</div>

	<h4>Shark Species</h4>
	<div class="form-group">
		<select data-ng-model="newEntry.species" class="form-control" ng-required="true">
			<option>Blacknose</option>
			<option selected>Blacktip</option>
			<option>Bull</option>
			<option>Dusky</option>
			<option>Hammerhead</option>
			<option>Lemon</option>
			<option>Mako</option>
			<option>Sandbar</option>
			<option>Silky</option>
			<option>Spinner</option>
			<option>Sand Tiger</option>
			<option>Tiger</option>
		</select>
	</div>


	<h4>Measurements</h4>
	<div class="form-group">
		<input data-ng-model="newEntry.overallLength" type="number" class="form-control" name="overallLength" id="overall" placeholder="Overall Length" ng-pattern="/^[-+]?\d+(\.\d+)?$/" max-length="10" required />

		<div class="errorMsg" ng-show="entryForm.overallLength.$error.required && entryForm.overallLength.$dirty">Required</div>
		<div class="errorMsg" ng-show="entryForm.overallLength.$error.pattern">Must contain only numbers (whole or decimal)!</div>


		<input data-ng-model="newEntry.forkLength" name="forkLength" type="number" class="form-control" id="fork" placeholder="Fork Length" ng-pattern="/^[-+]?\d+(\.\d+)?$/" max-length="10" required />

		<div class="errorMsg" ng-show="entryForm.forkLength.$error.required && entryForm.forkLength.$dirty">Required</div>
		<div class="errorMsg" ng-show="entryForm.forkLength.$error.pattern">Must contain only numbers (whole or decimal)!</div>


		<input data-ng-model="newEntry.girth" type="number" name="girth" class="form-control" id="girth" placeholder="Girth (Blacktip sharks only)" ng-pattern="/^[-+]?\d+(\.\d+)?$/" max-length="10" required />

		<div class="errorMsg" ng-show="entryForm.girth.$error.required && entryForm.girth.$dirty">Required</div>
		<div class="errorMsg" ng-show="entryForm.girth.$error.pattern">Must contain only numbers (whole or decimal)!</div>
	</div>


	<h4>Photo</h4>
	<div class="form-group">
		<input type="file" name="fighting_file" id="fighting_photo" ng-file-select="onFileSelect($files)" />

		<h4>Image Preview:</h4>
   		<i ng-hide="imageSrc[0]">No image choosed</i>
   		<img id="preview_img" ng-src="{{ imageSrc[0] }}" />
   	</div>
   	
	<button type="submit" class="btn btn-primary" ng-disabled="!entryForm.$valid">Submit</button>
</form>