<br />
<a href="#/"><button id="fb_logout" class="btn btn-warning">Log Out</button></a>
<a href="#/largestBlacktip">Largest Blacktip</a>

<h3>Leaderboard</h3>
<div class="table-responsive">
	<table class="table table-condensed table-striped">
		<tr>
			<th>Name</th>
			<th>Species</th>
			<th>Overall Length</th>
			<th>Fork Length</th>
			<th>Girth (blacktips only)</th>
			<th>Estimated Weight</th>
		</tr>
		<tr data-ng-repeat="anglerList in anglers | toArray | orderBy:orderByWeight">
			<td>{{ anglerList.name }}</td>
			<td>{{ anglerList.species }}</td>
			<td>{{ anglerList.overallLength }}</td>
			<td>{{ anglerList.forkLength }}</td>
			<td>{{ anglerList.girth }}</td>
			<td>{{ anglerList.weight }}</td>
		</tr>
	</table>
</div>

<h3>Submit an entry</h3>

<form>
	<div class="form-group">
		<label for="angler">Angler Name</label>
		<input type="text" class="form-control" id="angler" data-ng-model="newEntry.name" placeholder="John Smith">
	</div>

	<div class="form-group">
		<label for="species">Species</label>
		<select data-ng-model="newEntry.species" class="form-control">
			<option selected="selected">blacknose</option>
			<option>blacktip</option>
			<option>bull</option>
			<option>dusky</option>
			<option>hammerhead</option>
			<option>lemon</option>
			<option>mako</option>
			<option>sandbar</option>
			<option>silky</option>
			<option>spinner</option>
			<option>sand tiger</option>
			<option>tiger</option>
		</select>
	</div>

	<h4>Measurements</h4>

	<div class="form-group">
		<input data-ng-model="newEntry.overallLength" type="number" class="form-control" id="overall" placeholder="Overall Length">
	</div>

	<div class="form-group">
		<input data-ng-model="newEntry.forkLength" type="number" class="form-control" id="fork" placeholder="Fork Length">
	</div>

	<div class="form-group">
		<input data-ng-model="newEntry.girth" type="number" class="form-control" id="girth" placeholder="Girth (Blacktip sharks only)">
	</div>

	<button class="btn btn-primary" data-ng-click="addEntry()">Submit</button>
</form>
<br />
<br />