<br />

<a href="#/"><button ng-click="auth.$logout()" id="fb_logout" class="btn btn-warning pull-right">Log Out</button></a>
<a class="pull-left" href="#/leaderboards"><h4>Check Leaderboards</h4></a>

<div class="clearfix"></div>

<h2>Submissions</h2>
<br />

<form name="entryForm" data-ng-submit="addEntry(entryForm)" novalidate>

	<h4>Angler &amp; Team Information</h4>
	<div class="form-group">
		<input type="text" class="form-control" name="anglerName" id="anglerName" data-ng-model="newEntry.name" placeholder="Angler Name" max-length="50" required />
	</div>

	<div class="form-group">
		<input type="text" class="form-control" name="teamName" id="teamName" data-ng-model="newEntry.team" placeholder="Team Name" max-length="50" required />
	</div>

	<div class="form-group">
		<label for="species">Shark Species</label>
		<select data-ng-model="newEntry.species" class="form-control">
			<option>Blacknose</option>
			<option selected>Blacktip</option>
			<option>Bull</option>
			<option>Dusky</option>
			<option>Hammerhead</option>
			<option>Lemon</option>
			<option>Mako</option>
			<option>Sandbar</option>
			<option>Silky</option>
			<option>Spinner</option>
			<option>Sand Tiger</option>
			<option>Tiger</option>
		</select>
	</div>


	<h4>Measurements</h4>

	<div class="form-group">
		<input data-ng-model="newEntry.overallLength" type="number" class="form-control" id="overall" placeholder="Overall Length" required />
	</div>

	<div class="form-group">
		<input data-ng-model="newEntry.forkLength" type="number" class="form-control" id="fork" placeholder="Fork Length" required />
	</div>

	<div class="form-group">
		<input data-ng-model="newEntry.girth" type="number" class="form-control" id="girth" placeholder="Girth (Blacktip sharks only)" required />
	</div>


	<h4>Photos</h4>

	<div class="form-group">
		<label for="fighting_photo">Angler Fighting Fish</label>
		<input type="file" id="fighting_photo" ng-file-select="onFileSelect($files)" >
	</div>
	<div class="form-group">
		<h6>Preview:</h6>
   		<i ng-hide="imageSrc">No image choosed</i>
   		<img ng-src="{{ imageSrc }}" width="300px" />
   	</div>

	<div class="form-group">
		<label for="overall_wide_photo">Overall Length - Wide Photo</label>
		<input type="file" id="overall_wide_photo" ng-file-select="onFileSelect($files)" >
	</div>

	<div class="form-group">
		<label for="overall_close_photo">Overall Length - Close-up</label>
		<input type="file" id="overall_close_photo" ng-file-select="onFileSelect($files)" >
	</div>

	<div class="form-group">
		<label for="fork_photo">Fork Length</label>
		<input type="file" id="fork_photo" ng-file-select="onFileSelect($files)" >
	</div>

	<div class="form-group">
		<label for="girth_photo">Girth (Blacktips only)</label>
		<input type="file" id="girth_photo" ng-file-select="onFileSelect($files)" >
	</div>

	<div class="form-group">
		<label for="girth_photo">Angler with Shark</label>
		<input type="file" id="girth_photo" ng-file-select="onFileSelect($files)" >
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<br />
<br />